{% extends 'base.html' %}
{% block content %}
<!-- Product Grid -->
<div class="product-grid">
    {% for product in products %}
    <a href="{{ url_for('product_detail', product_id=product.id) }}"  class="product-item">
        <div>
            <img src="{{ product.image }}" alt="{{ product.name }}">
        </div>
        <!-- <form class="form" action="{{ url_for('checkout', product_id=product.id) }}" method="GET">
          <button type="submit">Buy Now</button>
      </form> -->
        <div class="product-info">
            <h3>{{ product.name }}</h3>
            <p>Price: ${{ product.price / 100 }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}