

{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<section id="register-container">
    <form method="POST" class="form-container">
        <!-- Title and Horizontal Line -->
        <div class="title-container">
            <p class="title">Register</p>
            <hr class="lines">
        </div>
        
        <!-- Name Input -->
        <input type="text" id="username" name="username" class="input-field" placeholder="Full Name" required>
        
        <!-- Password Input -->
        <input type="password" id="password" name="password" class="input-field" placeholder="Password" required>
        
        <!-- Submit Button -->
        <button type="submit" class="submit-button">Register</button>
        
        <!-- Login Link -->
        <p class="login-text">
            Already have an account? 
            <a href="/login" class="login-link">Login</a>
        </p>
    </form>
    
</section>
{% endblock %}



